h1 {
    font-size: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px, 50px;
    margin: 20px;
    padding-bottom: 30px;
}

.blank_space {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 60px;
}

body {
    background-image: url('planet2.png');
    background-repeat: no-repeat;
    background-size: 52%;
    background-position: center;
    color: white;
    background-color: black;
    min-height: 97vh;
}

h3 {
    display: block;
    width: 300px;
    color: white;
    margin: 10px;
    padding: 20px;
    position: relative;
    background-color: #111;
    border: 3px solid rgb(51, 76, 103);
    border-radius: 5px;
}

#planet-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  margin: 0px;
  padding: 0px;
  min-height: 10vh;
}

#left-col, #right-col {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
}

#Back {
    position: fixed;
    top: 40px;
    left: 20px;
    cursor: pointer;
    background-color: rgb(51, 76, 103);
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    width: 100px;
    height: 20px;
    border-radius: 9999px;
    z-index: 10;
}

#Back:hover {
    background-color: rgb(121, 142, 174);
}
