body {
    color: white;
    background-image: url(../images/mapBackground.avif);
    background-size: cover;
    overflow-y: hidden;
}

#info {
    display: flex;
    flex-direction: column;
    background-color: #111;
    position: absolute;
    width: 30%;
    height: 99.4%;
    top: 0;
    right: 0;
    border-radius: 32px;
    border: 2px solid rgb(51, 76, 103);
    justify-content: center;
}

#use-loc, #submit, #search-loc {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: rgb(51, 76, 103);
    color: white;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 10px;
    border-radius: 9999px;
    z-index: 10;
    outline: none;
    border: none;
    font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin: 20px auto;
}

#search-loc {
    margin-bottom: 35px;
}

#submit {
    margin-top: 35px;
}

#text-box, #address-input, #date-input, #time-input, #autocomplete-dropdown {
    display: block;
    position: relative;
    width: 75%;
    margin: 0px auto;
    padding: 12px 20px;
    font-size: 1rem;
    border-radius: 30px;
    border: 2px solid rgb(51, 76, 103);
    background-color: #111;
    color: white;
    font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#date-input, #time-input {
    margin: 0 auto 10px auto;
    display: flex;
}

#date-label {
    margin-top: 35px;
}

h1 {
    left: 35%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    display: flex;
    width: 61.8%;
    margin: 0 auto;
    justify-content: center;
    background-color: #111;
    border-radius: 30px;
    border: 2px solid rgb(51, 76, 103);
    padding: 50px;
}

h3 {
    display: flex;
    justify-content: center;
    margin: 0 auto 20px auto;
    padding: 0;
}

#autocomplete-dropdown {
    position: absolute;
    left: 28px;
    border: none;
    border-radius: 0;
    margin: none;
    padding: none;
    z-index: 20;
}

#autocomplete-dropdown:hover {
    cursor: pointer;
}