body {
    color: white;
    background-image: url(../images/mapBackground.avif);
    background-size: cover;
}

#info {
    max-width: 800px;
    margin: 80px auto 25px auto;
    padding: 30px 40px;
    background-color: rgba(20, 20, 30, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 16px;
    backdrop-filter: blur(6px);
    color: rgb(230, 230, 230);
}


#use-loc, #submit, #search-loc {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: rgb(51, 76, 103);
    color: white;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 10px;
    border-radius: 9999px;
    z-index: 10;
    outline: none;
    border: none;
    font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin: 20px auto;
}

#search-loc {
    margin-bottom: 35px;
}

#submit {
    margin-top: 35px;
}

#text-box, #address-input, #date-input, #time-input, #autocomplete-dropdown {
    display: block;
    position: relative;
    width: 75%;
    margin: 0px auto;
    padding: 12px 20px;
    font-size: 1rem;
    border-radius: 30px;
    border: 2px solid rgb(51, 76, 103);
    background-color: #111;
    color: white;
    font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#date-input, #time-input {
    margin: 0 auto 10px auto;
    display: flex;
}

#date-label {
    margin-top: 35px;
}

h1 {
    display: flex;
    justify-content: center;
    padding: 30px 40px;
    width: 800px;
    overflow-wrap: break-word;
    margin: 0 auto 50px auto;    
    background-color: rgba(20, 20, 30, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 16px;
    backdrop-filter: blur(6px);
    color: rgb(230, 230, 230);
}

h2 {
    font-size: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 50px;
    margin: 20px auto;
    font-family: "Rubik Glitch", system-ui;
    font-weight: 400;
    font-style: normal;
}

h3 {
    display: flex;
    justify-content: center;
    margin: 0 auto 20px auto;
    padding: 0;
}

#autocomplete-dropdown {
    display: none;
    position: relative;
    border: none;
    border-radius: 0;
    margin: none;
    padding: none;
    z-index: 20;
    margin-top: -15px;
}

#autocomplete-dropdown:hover {
    cursor: pointer;
}

body {
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@media screen and (max-width: 480px) {
  h2 {
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 15px auto;
  }
  h1 {
    width: 90vw;
    padding: 20px;
    margin-top: 20px;
    box-sizing: border-box;
  }
}