body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    padding-top: 50px;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/statsBackground.jpg');
    background-size: contain;
    background-position: center;
    z-index: -1;
}

h1 {
    font-size: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px, 50px;
    margin: 20px;
    font-family: "Rubik Glitch", system-ui;
    font-weight: 400;
    font-style: normal;
}

#stat-list {
    max-width: 1200px;
    margin: 35px auto 50px auto;
    background-color: rgba(20, 20, 30, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 16px;
    backdrop-filter: blur(6px);
    color: rgb(230, 230, 230);
    display: grid;
    grid-template-columns: repeat(2, minmax(500px, 1fr));
    gap: 1rem;
    padding: 1rem;
    justify-items: center;
}

#stat-list > div {
    position: relative;
    height: 400px;
}

#type-chart, #year-chart, #radius-chart, #mass-chart, #temp-chart, #esi-chart {
    border: 2px solid rgb(51, 76, 103);
    padding: 10px;
    padding-bottom: 70px;
    width: 550px;
}

h2 {
    display: flex;
    max-width: 1200px;
    margin: 50px auto 0px auto;
    background-color: rgba(20, 20, 30, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 16px;
    backdrop-filter: blur(6px);
    color: rgb(230, 230, 230);
    justify-content: center;
    padding: 10px;
}

h3 {
    display: flex;
    justify-content: center;
}

#axis-label-temp {
    position: absolute;
    transform: rotate(-90deg);
    color: white;
    top: 170px;
    left: 190px;
}

body {
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@media screen and (max-width: 480px) {
    body { 
        padding-top: 0;
    }
    h1 {
        padding-top: 100px;
    }
    #stat-list, h2 {
        max-width: 90vw;
        box-sizing: border-box;
    }
    .bg {
        background-size: cover;
    }
    #stat-list {
        grid-template-columns: repeat(1, minmax(350px, 1fr));
    }
    #stat-list > div {
    height: 311px;
    }
    #type-chart, #year-chart, #radius-chart, #mass-chart, #temp-chart, #esi-chart {
        display: block;
        margin: 0 auto;
        width: 350px;
    }
}